@import "./scss/config";
@import "./scss/menu";
@import "./scss/contact";
* {
    box-sizing: border-box;
}


/* Loading animation */

#home-bg {
    @include background;
    background: $primary-color;
    color: $primary-font-color;
    font-family: $primary-font;
    height: 100%;
    margin: 0;
    line-height: 1.5;
}

#content-bg {
    background: $primary-color;
    color: $primary-font-color;
    font-family: $primary-font;
    height: 100%;
    margin: 0;
    line-height: 1.5;
}

// Homepage
h3,
h4 {
    margin: 0;
    font-weight: 400;
    &.lg-heading {
        font-size: 6rem;
    }
    &.sm-heading {
        margin-bottom: 2rem;
        font-size: 2rem;
        padding: 0.2rem 1rem;
        background: rgba($primary-color-dark, 0.5);
    }
    @include MQ(M) {
        &.lg-heading {
            font-size: 4rem;
        }
        &.sm-heading {
            font-size: 1rem;
        }
    }
    @include MQ(S) {
        &.lg-heading {
            font-size: 3rem;
        }
        &.sm-heading {
            font-size: 1rem;
            text-align: left;
        }
    }
}

a {
    text-decoration: none;
    color: $primary-font-color;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.surname {
    color: $font-highlight-color;
}

main {
    padding: 4rem;
    height: 100%;
    .icons {
        margin-top: 1rem;
        a {
            padding: 0.4rem;
            &:hover {
                color: $primary-color-dark;
                @include easeinout();
            }
        }
    }
    &#home {
        overflow: hidden;
        h3 {
            margin-top: 10%;
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    .copyrights {
        display: block;
        margin-bottom: 20px;
        text-align: center;
        font-size: 12px;
        color: $primary-font-color;
    }
}

// About Me page
#about {
    width: 100%;
    padding: 0;
    line-height: 1.6rem;
    @include MQ(L) {
        overflow: hidden;
    }
    @include MQ(S) {
        overflow: inherit;
    }
}

.pg-container {
    position: relative;
    top: auto;
    margin-top: 100px;
    height: 714px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    @include MQ(S) {
        height: 900px;
        margin-top: 10px;
    }
    .pg-inner {
        max-width: 70%;
        background: #fff;
        box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.4);
        border-radius: 15px;
        @include MQ(S) {
            max-width: 90%;
        }
        .pg-inner__header {
            background: $font-highlight-color;
            padding: 50px;
            margin-bottom: 30px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            @include MQ(S) {
                padding: 25px;
            }
            h2 {
                font: $primary-font;
                font-weight: 700;
                font-size: 45px;
            }
            .row {
                .col-sm-4 {
                    @include MQ(S) {
                        display: flex;
                        justify-content: center;
                    }
                }
                .photo {
                    max-width: 280px;
                    border: 3px solid #fff;
                    margin-bottom: -80px;
                    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
                    @include MQ(S) {
                        max-width: 200px;
                        margin-bottom: 10px;
                    }
                    @include easeinout;
                    &:hover {
                        box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.3);
                        transform: translateY(-10px);
                        @include easeinout;
                    }
                    img {
                        height: 290px;
                        width: 100%;
                        @include MQ(ML) {
                            height: 200px;
                        }
                        @include MQ(M) {
                            height: 180px;
                        }
                        @include MQ(S) {
                            height: 200px;
                        }
                    }
                }
                .title {
                    text-align: center;
                    h1 {
                        font-size: 54px;
                        font-weight: 700;
                        margin: 30px 0 0;
                        @include MQ(ML) {
                            font-size: 40px;
                        }
                        @include MQ(M) {
                            font-size: 30px;
                        }
                        @include MQ(S) {
                            font-size: 25px;
                        }
                    }
                }
                .carousel {
                    text-align: center;
                    font-weight: 400;
                    font-size: 20px;
                    font-family: $primary-font;
                    margin-top: 20px;
                    @include MQ(ML) {
                        font-size: 15px;
                    }
                    @include MQ(S) {
                        font-size: 12px;
                        margin-top: 10px;
                    }
                }
            }
        }
        .pg-inner__body {
            color: $primary-color-dark;
            padding: 35px 50px 50px 50px;
            font: 15px $primary-font;
            @include MQ(S) {
                padding: 0px 10px 50px 10px;
            }
            .info-list {
                margin: 0;
                padding: 0;
                list-style: none;
                display: inline-block;
                li {
                    display: inline-block;
                    margin: 6px 0 0 30px;
                    text-align: left;
                    @include MQ(ML) {
                        font-size: 10px;
                    }
                    @include MQ(M) {
                        font-size: 8px;
                    }
                    @include MQ(S) {
                        font-size: 15px;
                    }
                    .title {
                        display: inline-block;
                        min-width: 160px;
                        @include MQ(ML) {
                            min-width: 100px;
                        }
                        @include MQ(M) {
                            min-width: 70px;
                        }
                        @include MQ(S) {
                            min-width: 160px;
                        }
                        @include MQ(XS) {
                            min-width: 120px;
                        }
                    }
                    .value {
                        color: $primary-color-light;
                        a {
                            color: $primary-color-light;
                            text-decoration-line: underline;
                            @include easeinout;
                            &:hover {
                                color: $font-highlight-color;
                                @include easeinout;
                            }
                        }
                    }
                }
            }
            .about-me {
                p {
                    margin: 0 0 10px;
                    font-weight: 400;
                    font-size: 15px;
                    @include MQ(ML) {
                        font-size: 10px;
                    }
                    @include MQ(M) {
                        font-size: 8px;
                    }
                    @include MQ(S) {
                        font-size: 15px;
                    }
                }
            }
            @include MQ(ML) {
                font-size: 15px;
            }
        }
    }
}

.block-title {
    margin-bottom: 15px;
    font: 28px $primary-font;
    span {
        font: 28px $primary-font;
        color: $font-highlight-color;
    }
}

// Resume page
#resume {
    .pg-inner {
        margin-top: 10vh;
        margin-bottom: 5vh;
        @include MQ(ML) {
            margin-top: 60vh;
        }
    }
    .pg-inner__header {
        text-align: center;
    }
    @include MQ(S) {
        padding: 0;
        margin-top: 300px;
    }
}

.timeline {
    width: 100%;
    margin: 15px auto;
    padding: 10px 10px 10px 30px;
    border-left: 2px solid #bfc0c0;
    p {
        padding: 10px;
        background-color: #fff;
        border: 1px solid #bfc0c0;
        border-left: 2px solid #d95d39;
        font-size: 16px;
        line-height: 1.7;
        position: relative;
        &:first-of-type {
            margin-top: 0;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
        &:before {
            content: "";
            width: 15px;
            height: 15px;
            background-color: #fff;
            border-radius: 50%;
            border: 2px solid #d95d39;
            position: absolute;
            left: -40px;
            top: 18px;
        }
        &:after {
            content: "";
            width: 23px;
            height: 0;
            border-width: 1px;
            border-style: solid;
            border-color: #d95d39;
            position: absolute;
            left: -25px;
            top: 25px;
        }
    }
}

#resume {
    .pg-container {
        margin-bottom: 15vh;
    }
}

.skills-info {
    h4 {
        font-family: $primary-font;
        font-size: 0.8em;
        line-height: 1.1em;
        margin: 0 0 5px;
        font-weight: 600;
    }
    .skill-container {
        background-color: #f5f5f5;
        border: 1px solid #e0e0e0;
        box-sizing: border-box;
        height: 12px;
        margin-bottom: 12px;
        width: 100%;
    }
    .skill-percentage {
        background-color: $font-highlight-color;
        height: 10px;
        padding: 0;
    }
    .skill-1 {
        width: 80%;
        animation: progressOne 4s;
        @include easeinout;
    }
    .skill-2 {
        width: 75%;
        animation: progressTwo 4s;
        @include easeinout;
    }
    .skill-3 {
        width: 88%;
        animation: progressThree 4s;
        @include easeinout;
    }
}

@keyframes progressOne {
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}

@-webkit-keyframes progressOne {
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}

@keyframes progressTwo {
    from {
        width: 0%;
    }
    to {
        width: 75%;
    }
}

@-webkit-keyframes progressTwo {
    from {
        width: 0%;
    }
    to {
        width: 75%;
    }
}

@keyframes progressThree {
    from {
        width: 0%;
    }
    to {
        width: 88%;
    }
}

@-webkit-keyframes progressThree {
    from {
        width: 0%;
    }
    to {
        width: 88%;
    }
}

//Service page
#service {
    @include MQ(S) {
        padding: 64px 0 64px 0;
    }
    .pg-container {
        margin-top: 0;
        @include MQ(M) {
            margin-top: 50px;
            margin-bottom: 50px;
        }
        @include MQ(S) {
            margin-top: 120px;
            margin-bottom: 100px;
        }
        @include MQ(XS) {
            margin-top: 150px;
            margin-bottom: 150px;
            margin-right: 20px;
        }
    }
    .pg-inner__body {
        margin-top: 0;
        padding-top: 0;
    }
    .pg-inner__header {
        text-align: center;
    }
    .block-title {
        padding-bottom: 20px;
    }
    h4 {
        font-size: 17px;
        padding: 20px 0 0;
        font-weight: 600;
        line-height: 1.5em;
        margin-bottom: 10px;
        font-family: $primary-font;
        text-align: center;
    }
    p {
        font-size: 15px;
        margin: 0 0 10px;
        font-weight: 400;
        text-align: center;
    }
}

.service-icon {
    width: 100px;
    height: 100px;
    background-color: #fafafa;
    border-radius: 100px;
    text-align: center;
    margin: 0 auto;
    i {
        font-size: 50px;
        transform: translateY(50%);
    }
    &:hover {
        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
        transform: translateY(-2px);
    }
}